
:root{

    --color_Orange: rgba(243, 128, 21, 0.555);
    --Mode_3D:  0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 15%);
}

@font-face {

    font-family: Vintage;
    src: url(../assets/Arcane\ Nine.otf);
}

*{

    padding: 0; margin: 0;
    font-family: "Vintage";

}

body{

    background-color: var(--color_Orange);
    overflow: hidden;

}

@keyframes ticTacToe {
    
    from {transform: rotate(8deg)}
    to{transform: rotate(-8deg)}
    
}

@keyframes gameOld {

    from {width: 0; height: 0;}
    to{width: 100px; height: 100px;}

}

@keyframes Xis{

    from {width: 0; height: 0;}
    to{width: 75px; height: 75px;}

}

@keyframes circle{

    from{transform: scale(0);}
    to{transform: scale(1);}

}

@keyframes gameOld_2 {

    from {width: 0; height: 0;}
    to{width: 65px; height: 65px;}

}

@keyframes Win-Horizontal {

    from{width: 0;}
    to{width: 323px;}

}

@keyframes Win-Vertical {

    from{height: 0;}
    to{height: 323px;}

}

@keyframes Win-Horizontal-2 {

    from{width: 0;}
    to{width: 219px;}

}

@keyframes Win-Vertical-2 {

    from{height: 0;}
    to{height: 219px;}

}


@keyframes Win-Diagonal {

    from{width: 0; transform: translate(-50%, -50%) rotate(45deg)}
    to{width: 450px; transform: translate(-50%, -50%) rotate(45deg)}

}

@keyframes Win-Diagonal-2 {

    from{width: 0; transform: translate(-50%, -50%) rotate(-45deg)}
    to{width: 450px; transform: translate(-50%, -50%) rotate(-45deg)}

}

@keyframes Win-Diagonal-2-1 {

    from{width: 0; transform: translate(-50%, -50%) rotate(45deg)}
    to{width: 320px; transform: translate(-50%, -50%) rotate(45deg)}

}

@keyframes Win-Diagonal-2-2 {

    from{width: 0; transform: translate(-50%, -50%) rotate(-45deg)}
    to{width: 320px; transform: translate(-50%, -50%) rotate(-45deg)}

}

@keyframes changeColor {

    from{background-color: var(--color_Orange);}
    to{background-color: #858484;}
}   

@keyframes active {

    from{opacity: 0;}
    to{opacity: 1;}

}

@keyframes disabled {

    from{opacity: 1;}
    to{opacity: 0;}

}

.img-back{

    position: absolute;
    left: 40px;
    top: 20px;
    filter: invert(100%);

}

.arrow-back{

    transition: all .3s ease-in-out;

}

.arrow-back:hover{

    transform: translateX(-30%);
    cursor: pointer;

}

.body {

    background-color: #858484 ;
    animation-name: changeColor;
    animation-duration: 2s;

}

.style-Tic{

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.title{

    font-size: 4em;
    margin-top: 40px;
    color: white;
    text-shadow: var(--Mode_3D);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transition: all .3s ease-in-out;

}

.title:hover{

    animation-name: ticTacToe;
    animation-duration: 1s;
    letter-spacing: 10px;

}

.main-Square{

    display: grid;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;


}

.square{

    text-align: center;
    background-color: rgba var(--color_Orange);
    border-width: 6px;
    border-style: solid;
    border-color: rgba(117, 60, 6, 0.555);
    width: 100px;
    height: 100px;  
    animation-name: gameOld;
    animation-duration: 2s;

}

.s1{


    border-top: 0;
    border-left: 0;

}

.s2{

    border-left: 0;
}

.s3{

    border-bottom: 0;
    border-left: 0;

}

.s4{

    border-top: 0;

}

.s6{

    border-bottom: 0;

}

.s7{

    border-top: 0;
    border-right: 0;

}

.s8{


   border-right: 0;

}

.s9{

    border-right: 0;
    border-bottom: 0;

} 

.X{

    position: relative;

}

.X::after{
    
    content: '';
    position: absolute;
    right: 0;
    left: 41px;
    top: -10px;
    bottom: 0px;

    width: 75px;
    height: 75px;

    border-style: solid;
    border-width: 8px;
    border-bottom: 0; border-right: 0;border-top: 0;
    transform: rotate(-40deg)
}

.X::before{

    content: '';
    position: absolute;
    right: 0;
    left: 39px;
    top: 38px;
    bottom: 0px;

    width: 75px;
    height: 75px;

    border-style: solid;
    border-width: 8px;
    border-bottom: 0; border-right: 0;border-top: 0;
    transform: rotate(40deg);
    
}


.X::before, .X::after{

    border-color:rgb(58, 58, 58);
    animation-name: Xis;
    animation-duration: 1s;
    z-index: 999;


}

.O{

    position: relative; 

}

.O::after{

    content: '';
    position: absolute;
    right: 0;
    left: 17px;
    top: 15px;
    bottom: 0;

    width: 50px;
    height: 50px;

    border-width: 9px;
    border-style: solid;
    border-radius: 100%;
    border-color: rgba(255, 255, 255, 0.829);
    animation-name: circle;
    animation-duration: 1.1s;

}

.turn{

    position: absolute;
    color: white;
    font-size: calc(60% + 1.5em);
    left: 50%; top: 20%;
    transform: translate(-50%, -50%);

}

.win-Risk-Horizontal{

    position: absolute;
    top: 43px;
    bottom: 0;
    right: 0;
    left: 0;

    width: 323px;
    height: 16.2px;


    animation-name: Win-Horizontal;
    animation-duration: 2s;
    z-index: 1;

}

.win-Risk-Vertical{

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 45px;

    width: 16.2px;
    height: 323px;

    background-color: black;

    animation-name: Win-Vertical;
    animation-duration: 2s;
    z-index: 1;

}

.win-Risk-Diagonal-1{

    width: 450px;
    height: 16.2px;

    position: absolute;
    z-index: 1;

    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);

    animation-name: Win-Diagonal;
    animation-duration: 2s;
}

.win-Risk-Diagonal-2{


    width: 450px;
    height: 16.2px;

    position: absolute;
    z-index: 1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);

    animation-name: Win-Diagonal-2;
    animation-duration: 2s;
}

.btn-restart {

    font-size: 27px;
    color: rgb(121, 61, 4);

    position: absolute;
    bottom: 0;
    border: none;

    width: 100%;
    padding: 15px;

    transition: .3s all ease-in-out;

    opacity: 0;

    display: none;

}

.btn-restart:hover{

    cursor: pointer;
    color: white;
    background-color: rgb(121, 61, 4);

}

.scoreboard{

    position: absolute;

    top: 75%;
    transform: translateY(50%);

    display: flex;

    justify-content: center;

    width: 100%;

}

.playerX{

    margin-left: 10%;
    font-size: calc(60% + 2vmin);
    font-weight: 900;   

}

.playerO{

    font-size: calc(60% + 2vmin);
    font-weight: 900;

}

@media screen and (max-width: 400px) {

    .title{
        font-size: calc(100% + 10vmin);

    }
    
}

@media screen and (max-width: 405px) {

    .square{

        width: 65px;
        height: 65px;
        animation-name: gameOld_2;
        animation-duration: 2s;
    }

    .title{
        font-size: calc(100% + 10vmin);

    }

    .X::after{
    
        content: '';
        position: absolute;
        right: 0;
        left: 20px;
        top: -21.5px;
        bottom: 0px;
    
        width: 65px;
        height: 65px;
    
        border-style: solid;
        border-width: 8px;
        border-bottom: 0; border-right: 0;border-top: 0;
        transform: rotate(-40deg)
    }
    
    .X::before{
    
        content: '';
        position: absolute;
        right: 0;
        left: 20px;
        top: 20px;
        bottom: 0px;
    
        width: 65px;
        height: 65px;
    
        border-style: solid;
        border-width: 8px;
        border-bottom: 0; border-right: 0;border-top: 0;
        transform: rotate(40deg);
    
    
    }

    .X::after, .X::before{

        animation-name: gameOld_2;
        animation-duration: 1s;

    }

    .O::after{

        content: '';
        position: absolute;
        right: 0;
        left: 5px;
        top: 5px;
        bottom: 0;
    
        width: 40px;
        height: 40px;
    
        border-width: 8px;
        border-style: solid;
        border-radius: 100%;
        border-color: rgba(255, 255, 255, 0.829);
        animation-name: circle;
        animation-duration: 1.1s;
    
    }

    .win-Risk-Horizontal{
        
        top: 25px;
        width: 219px;
        height: 15px;
        animation-name: Win-Horizontal-2;
    }
    
    .win-Risk-Vertical{

        width: 16.2px;
        height: 219px;
        left: 24px;
        animation-name: Win-Vertical-2;

    }
    
    .win-Risk-Diagonal-1{
    
        width: 320px;
        height: 16.2px;
        animation-name: Win-Diagonal-2-1;
    }
    
    .win-Risk-Diagonal-2{
    
    
        width: 320px;
        height: 16.2px;
        animation-name: Win-Diagonal-2-2;
    }
    
    .turn{

        position: absolute;
        color: white;
        font-size: calc(60% + 1.5em);
        left: 50%; top: 20%;
        transform: translate(-50%, -50%);
    
    }


}
 